## Calculating mean

### Method 1 - Manual calculation

In [6]:
population = [150,160,170,165,155]
sample = [150,170,165]

pop_mean =sum(population)/ len(population)
sample_mean = sum(sample)/ len(sample)

print('Population mean is', pop_mean)
print('Sample mean is', sample_mean)

Population mean is 160.0
Sample mean is 161.66666666666666

### Method 2 - Using Numpy library

In [12]:
import numpy as np

data = [10,20,30,40,50]

arithmatic_mean = np.mean(data)

print('The mean is',arithmatic_mean)

The mean is 30.0

### Method 3 - using statistics

In [16]:
import statistics as stats

var = [15,30,45,60,75]

mean_stats = stats.mean(var)

print('The mean is',mean_stats)

The mean is 45

## Data Set

In [22]:
import seaborn as sns
import numpy as np

iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [26]:
mean_sepal_length = np.mean(iris['sepal_length'])
print('The mean is',mean_sepal_length)

The mean is 5.843333333333334

## Median

### Method 1 - Numpy library

In [38]:
data = [10,20,30,40,50]
median = np.median(data)
print('The median is',median)

The median is 30.0

### Method 2 - Statistics

In [36]:
import statistics as stats

var = [15,30,45,60,75]

median = stats.median(var)

print('The median is',median)

The median is 45

### Method 3 : pandas

In [44]:
import pandas as pd 
df = pd.DataFrame({
    'values':[20,40,60,80,100]
})

print(df)

median_pandas = df['values'].mean()

print('The median is',median_pandas)

   values
0      20
1      40
2      60
3      80
4     100
The median is 60.0

In [46]:
import seaborn as sns
import numpy as np

iris = sns.load_dataset('iris')
iris

median = np.mean(iris['sepal_length'])
print('The median is',median)

The median is 5.843333333333334

## MODE

### Method 1 : statistics

In [3]:
import statistics as stats

data = [10,20,10,10,20,30]

mode = stats.mode(data)
print('The Mode is', mode)

The Mode is 10

In [7]:
import statistics as stats

data = [10,20,10,10,20,30,20,40]

mode = stats.multimode(data)
print('The Mode is', mode)

The Mode is [10, 20]

### Method 2 : Using Scipy Library

In [13]:
from scipy import stats

data = [1,20,30,5,1,1,5,20,1,4,0,1,4,5]

mode = stats.mode(data)

print('The Mode of data is', mode)

The Mode of data is ModeResult(mode=1, count=5)

## Varience

### Method 1 : Using Numpy

In [20]:
import numpy as np

data = [2,4,4,5,6,7,8,9]

sample_varience = np.var(data , ddof =1)

Population_varience = np.var(data , ddof =0)

print('The sample varience is',sample_varience)
print('The population varience is', Population_varience)

The sample varience is 5.410714285714286
The population varience is 4.734375

### Method 2 : Using pandas

In [29]:
import pandas as pd

data = [4,5,6,78,9,4,5,6,7,8,5,2,4,32,65,1,5,25]
series = pd.Series(data)
print(series)

samp_var =  series.var()
print('The sample varience is',samp_var)

pop_var = series.var(ddof=0)
print('The population varience is', pop_var)

0      4
1      5
2      6
3     78
4      9
5      4
6      5
7      6
8      7
9      8
10     5
11     2
12     4
13    32
14    65
15     1
16     5
17    25
dtype: int64
The sample varience is 488.0555555555554
The population varience is 460.9413580246912

### Methode 3 : Using Scipy

In [36]:
from scipy import stats

data = [7,8,9,4,5,6,1,2,3,12]

sam_var = stats.tvar(data)
print('The sample varience is',samp_var)

pop_var = stats.tvar(data, ddof = 0)
print('The population varience is', pop_var)

The sample varience is 488.0555555555554
The population varience is 10.41

## Standard Deviation

### Using Numpy

In [42]:
import numpy as np
data = [60,65,7,0,75,85,70,80]

sam_std = np.std(data,ddof=1)
print('The sample std deviation is',sam_std)

pop_std = np.std(data,ddof=0)
print('The population std deviation is',pop_std)

The sample deviation is 32.95776518082326
The population std deviation is 30.829166385097086

### Using Pandas

In [51]:
import pandas as pd

data = [4,5,6,78,9,4,5,6,7,8,5,2,4,32,65,1,5,25]
series = pd.Series(data)
print(series)

samp_std =  series.std()
print('The sample std deviation is',samp_std)

pop_std = series.std(ddof=0)
print('The population std deviation is', pop_std)

0      4
1      5
2      6
3     78
4      9
5      4
6      5
7      6
8      7
9      8
10     5
11     2
12     4
13    32
14    65
15     1
16     5
17    25
dtype: int64
The sample std deviation is 22.09197943950599
The population std deviation is 21.46954489561181

### Using Scipy

In [49]:
from scipy import stats
import math

data = [60,65,7,0,75,85,70,80]

sam_std = math.sqrt(stats.tvar(data))
print('The sample std deviation is',sam_std)

pop_std = math.sqrt(stats.tvar(data,ddof=0))
print('The population std deviation is',pop_std)

The sample std deviation is 32.95776518082326
The population std deviation is 30.829166385097086